div#todo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px var(--base-border-color) solid;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--base-color-2);
}

div#todo ul.container li {
  display: flex;
  border-bottom: 1px var(--base-border-color) solid;
  justify-content: center;
}

div#todo ul.container li.selected {
  background-color: var(--base-color-1);
}

div#todo ul.container li.origin-selection {
  --border-color: oklch(from var(--accent-color) l calc(c - 0.15) h);

  border-color: var(--border-color);
  outline: 1px var(--border-color) solid;
}

div.task {
  padding: 2rem;
  gap: 1rem;
  margin: auto;
  display: flex;
}