:root {
  --primary-hue: 214;

  --white-1: hsl(var(--primary-hue), 7%, 97%);
  --white-2: hsl(var(--primary-hue), 7%, 94%);
  --white-3: hsl(var(--primary-hue), 7%, 91%);

  --black-1: hsl(var(--primary-hue), 7%, 11%);
  --black-2: hsl(var(--primary-hue), 7%, 14%);
  --black-3: hsl(var(--primary-hue), 7%, 17%);

  --border-light-color: hsl(var(--primary-hue), 7%, 74%);
  --border-dark-color: hsl(var(--primary-hue), 7%, 50%);

  --accent-color: hsl(var(--primary-hue), 100%, 50%);
  
  --todo-width: calc(50% + 1rem);

  font-size: 20pt;
}

body[theme="light"] {
  --focused-base-color: black;

  --base-color-1: var(--white-1);
  --base-color-2: var(--white-2);
  --base-color-3: var(--white-3);

  --base-border-color: var(--border-light-color);

  color: var(--black-1);
}

body[theme="dark"] {
  --focused-base-color: white;

  --base-color-1: var(--black-3);
  --base-color-2: var(--black-2);
  --base-color-3: var(--black-1);

  --base-border-color: var(--border-dark-color);

  color: var(--white-3);
}

body {
  margin: auto;
  margin-top: 20dvh;
  text-align: center;
  width: var(--todo-width);
  background-color: var(--base-color-3);
  height: 150dvh;
}

svg {
  max-width: 100%;
  min-height: 1.5rem;
  height: auto;
  /* Optional */
  display: block;
}

h1.title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

div.menu {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding-top: 1rem; padding-bottom: 1rem;
  padding-left: 4rem; padding-right: 4rem;
  background-color: hsla(from var(--base-color-3) h s l / 60%);
  margin-bottom: .1rem;
  backdrop-filter: blur(10px);
}

button.add {
  flex: 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: .5rem;
  background-color: var(--accent-color);
  white-space: nowrap;
  padding-top: .4rem; padding-bottom: .4rem; 
  padding-left: 1rem; padding-right: 1rem; 
  border-radius: 100dvh;
  border: none;
  color: inherit;
}

button.add:hover {
  color: var(--accent-color);
  background-color: inherit;
  box-shadow: 0px 0px 0px 2px var(--accent-color);
}

button.add:active {
  color: var(--white-1);
  box-shadow: 0px 0px 0px 2px var(--focused-base-color);
  transition-duration: 70ms;
}

span.plus {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
}

span.text {
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  font-size: .9rem;
}

div.search {
  display: flex;
  justify-content: space-between;
  border: 1px var(--base-border-color) solid;
  padding: .1rem;
  border-radius: 9px;
  flex: 1 1 auto;
}

div.search:has(input:focus) {
  border-color: var(--focused-base-color);
}

div.search > input {
  flex: 1 1 auto;
  border: none;
  padding: .2rem;
  font-size: .75rem;
  background-color: inherit;
  color: inherit;
}

div.search > *:not(input) {
  flex: none;
  text-align: center;
  margin-left: .2rem;
  margin-right: .2rem;
  margin-top: auto;
  margin-bottom: auto;
  line-height: auto;
  font-size: .75rem;
}

div.todo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px var(--base-border-color) solid;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--base-color-2);
}

div.todo ul li {
  display: flex;
  border-bottom: 1px var(--base-border-color) solid;
  justify-content: center;
}

div.todo ul li.selected {
  outline: 1px solid var(--focused-base-color);
  background-color: var(--black-3);
}

div.task {
  padding: 2rem;
  gap: 1rem;
  margin: auto;
  display: flex;
}