nav.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: stretch;
  width: 16%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

nav.sidebar ul {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav.sidebar ul li button {
  border: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: stretch;
  font-size: 1rem;
}