:root {
  --primary-hue: 214;

  --white-1: hsl(var(--primary-hue), 7%, 97%);
  --white-2: hsl(var(--primary-hue), 7%, 94%);
  --white-3: hsl(var(--primary-hue), 7%, 91%);

  --black-1: hsl(var(--primary-hue), 7%, 11%);
  --black-2: hsl(var(--primary-hue), 7%, 14%);
  --black-3: hsl(var(--primary-hue), 7%, 17%);

  --border-light-color: hsl(var(--primary-hue), 7%, 74%);
  --border-dark-color: hsl(var(--primary-hue), 7%, 50%);
  
  --todo-width: calc(50% + 1rem);

  font-size: 20pt;
}

ul, ul li, p, h1, h2, h3, h4, svg, path {
  list-style: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

svg {
  max-width: 100%;
  height: auto;
  /* Optional */
  display: block;
}

body[theme="light"] {
  --search-hover: black;

  --base-color-1: var(--white-1);
  --base-color-2: var(--white-2);
  --base-color-3: var(--white-3);

  --base-border-color: var(--border-light-color);

  color: var(--black-1);
}

body[theme="dark"] {
  --search-hover: white;

  --base-color-1: var(--black-3);
  --base-color-2: var(--black-2);
  --base-color-3: var(--black-1);

  --base-border-color: var(--border-dark-color);

  color: var(--white-3);
}

body {
  margin: auto;
  margin-top: 20dvh;
  text-align: center;
  width: var(--todo-width);
  background-color: var(--base-color-3);
}

h1.title {
  font-size: 1.75rem;
  margin-bottom: 2.25rem;
}

div.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: .4rem;
}

div.menu > div.buttons {
  flex: auto;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

div.menu > div.buttons > div {
  flex: auto;
  padding: .2rem;
  margin-top: auto;
  margin-bottom: auto;
}

div.edit {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.menu > div.buttons > div:not(div.edit) {
  font-size: 1.8rem;
}

div.search {
  display: flex;
  justify-content: space-between;
  border: 1px var(--base-border-color) solid;
  padding: .1rem;
  border-radius: 9px;
}

div.search:has(input:focus) {
  border-color: var(--search-hover);
}

div.search > input {
  flex: 1;
  border: none;
  padding: .2rem;
  font-size: .75rem;
  background-color: inherit;
  color: inherit;
}

div.search > *:not(input) {
  flex: none;
  text-align: center;
  margin-left: .2rem;
  margin-right: .2rem;
  margin-top: auto;
  margin-bottom: auto;
  line-height: auto;
  font-size: .75rem;
}

div.todo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px var(--base-border-color) solid;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--base-color-2);
}

li:has(div.task) {
  display: flex;
  border-bottom: 1px var(--base-border-color) solid;
  justify-content: center;
}

div.task {
  padding: 2rem;
  gap: 1rem;
  margin: auto;
  display: flex;
}